:root {
  /* Cores principais */
  --fundo-principal: #0b1120;
  --fundo-secundario: #111827;
  --cor-principal: #1f3266;
  --cor-secundario: #45c46a;

  /* Textos */
  --cor-texto-principal: #e5e7eb;
  --cor-texto-secundario: #94a3b8;

  /* Cards */
  --cor-card-bg: #172033;

  /* Bordas */
  --cor-borda: #26344f;

  /* Hovers*/
  --cor-box-shadow-hover: rgba(69, 196, 106, 0.15);

  /* Botões */
  --cor-botao-hover: #55d67a;
  --cor-botao-secundario-bg: transparent;

  /* Gradientes */
  --cor-gradiente-principal: #0b0f19;
  --cor-gradiente-secundario: #111827;
}
